.home {
  .book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 16px;  
    margin-bottom: 20px;

    
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);  
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);  
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;  
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
